@import url('https://fonts.googleapis.com/css2?family=Jua&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jua&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-color: #5D44AD;
    --secondary-color: #3C2A74;
    --button-color: #C8336E;
    --body-color: #F0F0F0;
    --main-font-color: #fff;
    --purple-font-color: #5D44AD;
    --yellow-color: #FFEE5B;
    --title-font: ;
    --text-font: ;
}

* {
    margin: 0;
}


/* BARRE DE NAVIGATION */

nav {
    background-color: var(--main-color);
    height: 30px;
    color: var(--main-font-color);
    padding: 1rem;
    font-family: "Jua", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    display: none;
}

nav h1 {
    font-size: 30px;
    font-weight: 80;
}

nav img {
    width: 40px;
    border-radius: 50%;
    outline: white solid 2px;

}

.navdesktop {
    display: none;
}

.navbardesktop {
    display: none;
}


/* MENU BURGER */


.conteneur {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%
}

.ham-menu {
    height: 30px;
    width: 30px;

    position: relative;

}


/* BARRES HORIZONTALES DU MENU BURGER */


.ham-menu span {
    height: 3px;
    width: 80%;
    background-color: #FFEE5B;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease;

}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}


/* MENU CACHÉ DU MENU BURGER (AFFICHÉ AVEC UN CLIC) */


.off-screen-menu {
    background-color: white;
    height: 100%;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    left: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 10px;
    transition: 0.5s ease;
    color: #5D44AD;
    font-family: "Inter", sans-serif;
}

.off-screen-menu li {
    list-style-type: none;
    font-size: 30px;
    text-align: left;
}

.off-screen-menu a {
    text-decoration: none;
}

.off-screen-menu a:hover {
    color: var(--button-color);
    transition: 0.5s;
}


.off-screen-menu.active {
    left: 0;
}


/* HEADER AVEC LES BULLES DE QUIZ */


header {
    background-color: var(--secondary-color);
    color: var(--main-font-color);
    height: 150px;
    margin: 0;
    font-size: 12px;
    font-family: "jua";
    padding-left: 5px;
    padding-right: 5px;

}

header h2 {
    font-weight: 80;
}

.bubbles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3px;

}

.categ-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 4px;


}

.bubbles a {
    text-decoration: none;
    color: var(--body-color);
}

.categ {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.categ2 {
    display: none;
}

header img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    outline: white solid 2px;
    margin: 10px;
    box-shadow: 1px 2px 5px white;
}


body {
    background-color: var(--body-color);
    color: var(--main-font-color);
}

footer {
    background-color: var(--secondary-color);
    color: var(--main-font-color);
}

@media screen and (min-width: 768px) and (max-width: 992px) {

    .bubbles {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .categ-container {
        gap: 50px;
    }


}

@media screen and (min-width: 992px) {

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-right: 100px;
    }

    .off-screen-menu {
        display: none;
    }

    .ham-menu {
        display: none;
    }

    .ham-menu span {
        display: none;
    }

    .logo {
        display: inline-block;
        width: 70px;
        outline: none;
        margin-left: 180px;

    }

    .navdesktop {
        display: flex;
        font-size: 30px;
        font-family: "Inter", sans-serif;
    }

    .navdesktop ul,
    li {
        display: flex;
        list-style-type: none;
        text-decoration: none;
        gap: 40px;
    }

    .navdesktop a {
        text-decoration: none;
        color: var(--body-color);
        font-size: 20px;
    }

    .navdesktop a:hover {
        color: var(--button-color);
        transition: 0.5s;
    }

    .logonav {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        margin-right: 100px;

    }

    .logonav h1 {
        padding-left: 10px;
        font-size: 40px;
    }

    header {
        font-size: 15px;
        padding: 10px;

    }

    .bubbles {
        display: flex;
        justify-content: center;

    }

    .categ-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 60px;

    }

    .categ,
    .categ2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }



}