/* ---------------------    Global settings   ----------------------- */

:root {
    --main-color: #5D44AD;
    --secondary-color: #3C2A74;
    --button-color: #C8336E;
    --body-color: #DAD4D4;
    --main-font-color: #fff;
    --purple-font-color: #5D44AD;
    --yellow-color: #FFEE5B;
    --bottom-page-color: #1F1149;
    --toggleDisplay: none;
    --toggleHomePage: flex;

}

@font-face {
    /* For H1 and H2 only */
    font-family: "jua";
    src: url("assets/fonts/Jua-Regular.ttf");
}

@font-face {
    /* For Body and text only */
    font-family: "inter";
    src: url("assets/fonts/Inter-VariableFont_opsz,wght.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* BARRE DE NAVIGATION */

nav {
    background-color: var(--main-color);
    height: 30px;
    color: var(--main-font-color);
    padding: 1rem;
    font-family: "jua", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: none;
}

nav h1 {
    font-size: 30px;
    font-weight: 80;
}

nav img {
    width: 22px;
    border-radius: 50%;
    outline: white solid 2px;
}

.navdesktop {
    display: none;
}

.navbardesktop {
    display: none;
}


/* MENU BURGER */


.conteneur {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%
}

.ham-menu {
    z-index: 4;
    /* Avait été enlevé*/
    height: 30px;
    width: 30px;
    position: relative;
}


/* BARRES HORIZONTALES DU MENU BURGER */


.ham-menu span {
    height: 3px;
    width: 80%;
    background-color: var(--yellow-color);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* MENU CACHÉ DU MENU BURGER (AFFICHÉ AVEC UN CLIC) */


.off-screen-menu {
    z-index: 3;
    /* Avait été enlevé */
    background-color: var(--main-font-color);
    height: 100%;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    left: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 10px;
    transition: 0.5s ease;
    color: var(--main-color);
    font-family: "Inter", sans-serif;
}

.off-screen-menu li {
    list-style-type: none;
    font-size: 30px;
    text-align: left;
}

.off-screen-menu a {
    text-decoration: none;
}

.off-screen-menu a:hover {
    color: var(--button-color);
    transition: 0.5s;
}


.off-screen-menu.active {
    left: 0;
}


/* HEADER AVEC LES BULLES DE QUIZ */


header {
    background-color: var(--secondary-color);
    color: var(--main-font-color);
    height: 150px;
    margin: 0;
    font-size: 12px;
    font-family: "jua";
    padding-left: 5px;
    padding-right: 5px;
}

header h2 {
    font-weight: 80;
}

header h2:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.bubbles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3px;
}

.categ-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 4px;
}

.bubbles a {
    text-decoration: none;
    color: var(--body-color);
}

.categ {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categ2 {
    display: none;
}

header img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    outline: var(--main-font-color) solid 2px;
    margin: 10px;
    box-shadow: 1px 2px 5px var(--main-font-color);
}

header img:hover {
    transform: scale(1.1);
    box-shadow: 1px 2px 20px var(--main-font-color);
    transition: 0.5s;
}


body {
    background-color: var(--body-color);
}

body article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz-background {
    position: relative;
    z-index: 1;
    margin-top: 10vh;
    background-color: var(--main-color);
    color: var(--main-font-color);
    border-radius: 5%;
    height: 370px;
    width: 370px;
}

/* AFFICHAGE DU QUIZ */


#question {
    display: var(--toggleDisplay);
    position: absolute;
    z-index: 2;
    padding: 12px 90px;
    top: 14.5rem;
    background-color: var(--main-font-color);
    border-radius: 15px;
    font-size: 18px;
    color: var(--main-color);
    filter: drop-shadow(1px 5px 10px darkslateblue);
}


#player {
    display: var(--toggleDisplay);
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 10px 0px 10px;
    color: var(--yellow-color);
}

#quizimg {
    display: var(--toggleDisplay);
    width: 250px;
    height: 100px;
    object-fit: cover;
    margin: 20px 0px 0px 60px;
    border-radius: 10px;
    outline: var(--main-font-color) solid 1px;
}

#question-container {
    display: var(--toggleDisplay);
    flex-direction: column;
    align-items: center;

}

#qstn {
    display: flex;
    justify-content: center;
    width: 60%;
    font-size: 0.9rem;
    z-index: 2;
    padding: .6rem 1rem;
    margin: 16px 0 0 0;
    background-color: white;
    border-radius: 15px;
    color: var(--main-color);


}

.btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 15px;
    padding: .3rem 1rem;
}

.game button {
    flex: 1 1 calc(50% - 10px);
    padding: 8px;
    background-color: var(--main-font-color);
    border-radius: 15px;
    border: 0;
    color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    font-size: 0.75rem;
    cursor: pointer;
    padding: .3rem 1rem;
    height: 2rem;
}

.spn {
    padding: 4px 8px;
    background-color: var(--main-color);
    border-radius: 15px;
    color: var(--main-font-color);
    margin-left: 1rem;
}

.game p {
    background-color: var(--secondary-color);
    width: 80%;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    font-size: 0.7rem;
}

.explications {
    display: none;
}

/* Début CSS pour la homepage*/
/* Rajouter dans le * la line height de 1.5*/

.homepage-logo {
    position: absolute;
    z-index: 2;
    top: 155px;
    max-width: 150px;
    margin: 3rem auto 1rem auto;
    filter: drop-shadow(1px 5px 10px darkslateblue);
}

.name-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 6rem;
}

.name-selection h2 {
    margin: auto 2rem;
    text-align: center;
    padding-bottom: 10px;
}

.name-selection input {
    width: 78vw;
    height: 2rem;
    border-radius: 10px;
    padding: 4px;
    border: none;
    box-shadow: 3px 5px 5px darkslateblue;
}

.validation {
    background-color: var(--button-color);
    color: var(--main-font-color);
    width: 90vw;
    height: 2rem;
    margin: 1rem auto 3rem auto;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    border: none;
}

/* À AFFICHER AFIN DE REVENIR A LA PAGE D'ACCUEIL*/

.homepage {
    display: var(--toggleHomePage);
}

.homepage-logo {
    display: var(--toggleHomePage);
}

/* ---------------------    Footer   ----------------------- */

footer {
    background-color: var(--secondary-color);
    color: var(--main-font-color);
}

.mainFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logoAndText {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.footerLogo img {
    width: 3.5rem;
}

.footerLogo h2 {
    font-family: "jua";
    font-size: 1rem;
    transform: translate(0px, -45%)
}

.logoAndText p {
    font-family: "Inter";
    font-size: .7rem;
    width: 70%;
}

.socialNetworks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    gap: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.socialNetworks img {
    width: 1.5rem;
}

/* Contact class is hidden by default => only diplayed in desktop version*/
.contact {
    display: none;
    font-family: "inter";
    gap: .8rem;
}

.contact h2 {
    font-size: 1rem;
}

.contact ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-left: 1rem;
    gap: .5rem;
    font-family: "inter";
}

.contact ul a {
    text-decoration: none;
    color: var(--main-font-color);
    font-family: "inter";
    font-size: .7rem;
}

/* Games class is hidden by default => only diplayed in desktop version*/
.games {
    display: none;
    font-family: "inter";
    gap: .8rem;
}

.games h2 {
    font-size: 1rem;
}

.games ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-left: 1rem;
    gap: .5rem;
    font-family: "inter";

}

.games ul a {
    text-decoration: none;
    color: var(--main-font-color);
    font-family: "inter";
    font-size: .7rem;
}

/* Secondary footer class is hidden by default => only diplayed in desktop version*/
.secFooter {
    display: none;
    width: 100%;
    height: 2vh;
}

.secFooter ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 3rem;
    margin-left: .1rem;
}

.secFooter li a {
    text-decoration: none;
    color: var(--main-font-color);
}

.secFooter span {
    margin-right: .1rem;
    font-size: .7rem;
}

@media screen and (min-width: 768px) and (max-width: 992px) {

    .bubbles {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .categ-container {
        gap: 50px;
    }

    .quiz-background {
        position: relative;
        z-index: 1;
        margin-top: 75px;
        background-color: var(--main-color);
        color: var(--main-font-color);
        border-radius: 15px;
        width: 75vw;
        height: 45vh;
        box-shadow: 3px 5px 5px darkgrey;
    }

    .homepage-logo {
        top: 180px;
    }

    .name-selection h2 {
        padding: 20px;
    }

    .name-selection input {
        width: 300px;
        height: 2rem;
        border-radius: 10px;
        padding: 4px;
        border: none;
    }

    .validation {
        width: 70vw;
        height: 2rem;
        padding: 20px auto 30px auto;
        box-shadow: 3px 5px 5px darkgrey;
        border: none;
        text-align: center;
        margin-top: 4%;
    }

    #player {
        display: var(--toggleDisplay);
        flex-direction: row;
        justify-content: space-between;
        margin: 30px 30px 0px 30px;
        color: var(--yellow-color);
    }

    #quizimg {
        width: 350px;
        height: 100px;
        margin: 20px 160px 0px 130px;
        border-radius: 10px;
        outline: white solid 4px;
    }

    #qstn {
        position: absolute;
        width: fit-content;
        bottom: 220px;
        left: 30%;
        right: 30%;
        font-size: 1.3rem;
        z-index: 2;
        padding: .6rem 1rem;
        margin: 0;
        background-color: white;
        border-radius: 15px;
        color: var(--main-color);

    }

    .btn-container {
        margin-top: 15%;
        gap: 1rem;
    }

    .game button {
        padding: 3px 20px 0px 3px;
        font-size: 1rem;
        height: 3rem;
    }

    .spn {
        padding: 6px 11px;
        text-align: left;
        background-color: var(--main-color);
        border-radius: 20px;
        color: white;
        margin-left: 0;
        font-size: 20px;
    }

    .game p {
        margin-top: 7%;
        height: 2.5rem;
        font-size: 0.8rem;
    }

}

@media screen and (min-width: 992px) {

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-right: 100px;
        height: 58px;
    }

    nav img {
        width: 40px;
    }

    .off-screen-menu {
        display: none;
    }

    .ham-menu {
        display: none;
    }

    .ham-menu span {
        display: none;
    }

    .logo {
        display: inline-block;
        width: 70px;
        outline: none;
        margin-left: 180px;
    }

    .navdesktop {
        display: flex;
        font-size: 30px;
        font-family: "inter", sans-serif;
    }

    .navdesktop ul,
    li {
        display: flex;
        list-style-type: none;
        text-decoration: none;
        gap: 40px;
    }

    .navdesktop a {
        text-decoration: none;
        color: var(--body-color);
        font-size: 20px;
        white-space: nowrap;
    }

    .navdesktop a:hover {
        color: var(--button-color);
        transition: 0.5s;
    }

    .logonav {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        margin-right: 100px;
    }

    .logonav h1 {
        padding-left: 10px;
        font-size: 40px;
        white-space: nowrap;
    }

    header {
        font-size: 15px;
        padding: 10px;
        height: 170px;
    }

    .bubbles {
        display: flex;
        justify-content: center;
        white-space: nowrap;
    }

    .categ-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 60px;
    }


    .categ2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .quiz-background {
        position: relative;
        z-index: 1;
        margin-top: 8vh;
        background-color: var(--main-color);
        color: var(--main-font-color);
        border-radius: 15px;
        height: 400px;
        width: 75vw;
        box-shadow: 3px 5px 5px darkgrey;
    }

    .homepage-logo {
        position: absolute;
        z-index: 2;
        top: 180px;
        max-width: 150px;
        margin: 3rem auto 1rem auto;
    }

    .name-selection h2 {
        margin: auto 3%;
        text-align: center;
        padding: 20px;
    }

    .name-selection input {
        width: 40vw;
        height: 2rem;
        border-radius: 10px;
        padding: 4px;
        border: none;
    }

    .validation {
        background-color: var(--button-color);
        color: var(--main-font-color);
        width: 30vw;
        height: 2rem;
        margin: 1rem auto 3rem auto;
        border-radius: 10px;
        padding: 20px auto 30px auto;
        box-shadow: 3px 5px 5px darkgrey;
        border: none;
    }

    #question {
        position: absolute;
        z-index: 2;
        padding: 10px 220px;
        top: 16.9rem;
        background-color: white;
        border-radius: 15px;
        font-size: 18px;
        color: var(--main-color);
    }

    #player {
        display: var(--toggleDisplay);
        flex-direction: row;
        justify-content: space-between;
        margin: 30px 80px 0px 80px;
        color: var(--yellow-color);
    }


    #quizimg {
        position: absolute;
        width: 220px;
        height: 280px;
        right: 80px;
        bottom: 40px;
        border-radius: 10px;
        outline: white solid 4px;
    }

    #qstn {
        position: absolute;
        width: 550px;
        bottom: 260px;
        left: 80px;
        font-size: 1.4rem;
        z-index: 2;
        padding: .6rem 1rem;
        margin: 0;
        background-color: white;
        border-radius: 15px;
        color: var(--main-color);
    }

    .btn-container {
        margin: 150px 400px 30px 140px;
        padding: .3rem 1rem;
    }

    .game button {
        padding: 3px 1px 0px 3px;
        font-size: 1rem;
        width: 550px;
        height: 60px;
    }

    .spn {
        padding: 6px 11px;
        background-color: var(--main-color);
        border-radius: 20px;
        color: white;
        margin-right: 0.1rem;
        font-size: 0.9rem;
    }

    .game p {
        width: 70%;

    }
    .validation {
        margin-top: 2.2rem;

    }

    .validation {
        margin-top: 2.2rem;
    }

    footer {
        flex-direction: row;
        justify-items: center;
    }

    .mainFooter {
        flex-direction: row;
        justify-content: space-between;
        width: 70vw;
        padding: 1rem;
    }

    .logoAndText {
        width: 34%;
    }

    .contact {
        display: flex;
        flex-direction: column;
    }

    .games {
        display: flex;
        flex-direction: column;
        transform: translate(0px, -.45rem);
    }

    .secFooter {
        display: flex;
        background-color: var(--bottom-page-color);
        justify-content: space-between;
        align-items: center;
        font-family: "inter";
        font-size: .6rem;
        padding: .5rem;
    }
}

